// src/styles/components/_buttons.scss

.button {
  @apply font-bold rounded transition duration-300 ease-in-out cursor-pointer;

  &--primary {
    @apply bg-primary text-white hover:bg-secondary;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
  }

  &--secondary {
    @apply bg-transparent text-secondary hover:text-secondaryLight;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
  }

  &--transparent {
    @apply bg-primaryA10 text-primary hover:text-secondary;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
  }

  &__icon {
    @apply inline-block mr-2;
  }
}
